body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    padding: 10px;
    max-width: 600px;
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.day {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: background-color 0.3s;
}

.day:hover {
    background-color: #f0f0f0;
}

.day.reserved {
    background-color: #f44336;
    color: white;
}
